/* line 6, ../scss/agency.scss */
body {
  overflow-x: hidden;
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 11, ../scss/agency.scss */
.text-muted {
  color: #555555;
}

/* line 15, ../scss/agency.scss */
.text-primary {
  color: #328E77;
}

/* line 19, ../scss/agency.scss */
p {
  font-size: 14px;
  line-height: 1.5;
}

/* line 24, ../scss/agency.scss */
p.large {
  font-size: 16px;
}

/* line 28, ../scss/agency.scss */
a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
}

/* line 36, ../scss/agency.scss */
a {
  color: #328E77;
}

/* line 40, ../scss/agency.scss */
a:hover,
a:focus,
a:active,
a.active {
  color: #256857;
}

/* line 47, ../scss/agency.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

/* line 52, ../scss/agency.scss */
.img-centered {
  margin: 0 auto;
}

/* line 56, ../scss/agency.scss */
.bg-light-gray {
  background-color: #eeeeee;
}

/* line 60, ../scss/agency.scss */
.bg-darkest-gray {
  background-color: #222222;
}

/* line 66, ../scss/agency.scss */
.btn-primary {
  color: white;
  background-color: #328E77;
  border-color: #328E77;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
/* line 10, ../scss/_mixins.scss */
.btn-primary:focus, .btn-primary.focus {
  color: white;
  background-color: #256857;
  border-color: #113028;
}
/* line 16, ../scss/_mixins.scss */
.btn-primary:hover {
  color: white;
  background-color: #256857;
  border-color: #226151;
}
/* line 21, ../scss/_mixins.scss */
.btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
  color: white;
  background-color: #256857;
  border-color: #226151;
}
/* line 28, ../scss/_mixins.scss */
.btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus, .open > .btn-primary.dropdown-toggle:hover, .open > .btn-primary.dropdown-toggle:focus, .open > .btn-primary.dropdown-toggle.focus {
  color: white;
  background-color: #1b4e41;
  border-color: #113028;
}
/* line 36, ../scss/_mixins.scss */
.btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
  background-image: none;
}
/* line 44, ../scss/_mixins.scss */
.btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary.focus {
  background-color: #328E77;
  border-color: #328E77;
}
/* line 52, ../scss/_mixins.scss */
.btn-primary .badge {
  color: #328E77;
  background-color: white;
}

/* line 72, ../scss/agency.scss */
.btn-xl {
  color: white;
  background-color: #328E77;
  border-color: #328E77;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px;
}
/* line 10, ../scss/_mixins.scss */
.btn-xl:focus, .btn-xl.focus {
  color: white;
  background-color: #256857;
  border-color: #113028;
}
/* line 16, ../scss/_mixins.scss */
.btn-xl:hover {
  color: white;
  background-color: #256857;
  border-color: #226151;
}
/* line 21, ../scss/_mixins.scss */
.btn-xl:active, .btn-xl.active, .open > .btn-xl.dropdown-toggle {
  color: white;
  background-color: #256857;
  border-color: #226151;
}
/* line 28, ../scss/_mixins.scss */
.btn-xl:active:hover, .btn-xl:active:focus, .btn-xl:active.focus, .btn-xl.active:hover, .btn-xl.active:focus, .btn-xl.active.focus, .open > .btn-xl.dropdown-toggle:hover, .open > .btn-xl.dropdown-toggle:focus, .open > .btn-xl.dropdown-toggle.focus {
  color: white;
  background-color: #1b4e41;
  border-color: #113028;
}
/* line 36, ../scss/_mixins.scss */
.btn-xl:active, .btn-xl.active, .open > .btn-xl.dropdown-toggle {
  background-image: none;
}
/* line 44, ../scss/_mixins.scss */
.btn-xl.disabled:hover, .btn-xl.disabled:focus, .btn-xl.disabled.focus, .btn-xl[disabled]:hover, .btn-xl[disabled]:focus, .btn-xl[disabled].focus, fieldset[disabled] .btn-xl:hover, fieldset[disabled] .btn-xl:focus, fieldset[disabled] .btn-xl.focus {
  background-color: #328E77;
  border-color: #328E77;
}
/* line 52, ../scss/_mixins.scss */
.btn-xl .badge {
  color: #328E77;
  background-color: white;
}

/* line 83, ../scss/agency.scss */
.navbar-custom {
  background-color: #222222;
  border-color: transparent;
}
/* line 86, ../scss/agency.scss */
.navbar-custom .navbar-brand {
  color: #328E77;
  font-family: "Slabo 27px", "Helvetica Neue", Helvetica, Arial, serif;
}
/* line 89, ../scss/agency.scss */
.navbar-custom .navbar-brand:hover, .navbar-custom .navbar-brand:focus, .navbar-custom .navbar-brand:active, .navbar-custom .navbar-brand.active {
  color: #256857;
}
/* line 96, ../scss/agency.scss */
.navbar-custom .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.98);
}
/* line 99, ../scss/agency.scss */
.navbar-custom .navbar-toggle {
  background-color: #328E77;
  border-color: #328E77;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
}
/* line 105, ../scss/agency.scss */
.navbar-custom .navbar-toggle:hover, .navbar-custom .navbar-toggle:focus {
  background-color: #328E77;
}
/* line 112, ../scss/agency.scss */
.navbar-custom .nav li a {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
}
/* line 117, ../scss/agency.scss */
.navbar-custom .nav li a:hover, .navbar-custom .nav li a:focus {
  color: #328E77;
  outline: none;
}
/* line 125, ../scss/agency.scss */
.navbar-custom .navbar-nav > .active > a {
  border-radius: 0;
  color: white;
  background-color: #328E77;
}
/* line 130, ../scss/agency.scss */
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: white;
  background-color: #256857;
}

@media (min-width: 768px) {
  /* line 138, ../scss/agency.scss */
  .navbar-custom {
    background-color: transparent;
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
  }
  /* line 145, ../scss/agency.scss */
  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  /* line 151, ../scss/agency.scss */
  .navbar-custom .navbar-nav > .active > a {
    border-radius: 3px;
  }
}
@media (min-width: 768px) {
  /* line 160, ../scss/agency.scss */
  .navbar-custom.affix {
    background-color: #222222;
    padding: 10px 0;
  }
  /* line 163, ../scss/agency.scss */
  .navbar-custom.affix .navbar-brand {
    font-size: 1.5em;
  }
}
/* line 169, ../scss/agency.scss */
header {
  background-image: url("../img/header_bg.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
}
/* line 177, ../scss/agency.scss */
header .intro-text {
  padding-top: 100px;
  padding-bottom: 50px;
}
/* line 180, ../scss/agency.scss */
header .intro-text .intro-lead-in {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 25px;
}
/* line 187, ../scss/agency.scss */
header .intro-text .intro-heading {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
}

@media (min-width: 768px) {
  /* line 198, ../scss/agency.scss */
  header .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
  }
  /* line 201, ../scss/agency.scss */
  header .intro-text .intro-lead-in {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 25px;
  }
  /* line 208, ../scss/agency.scss */
  header .intro-text .intro-heading {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 25px;
  }
}
/* line 221, ../scss/agency.scss */
section {
  padding: 100px 0;
}
/* line 223, ../scss/agency.scss */
section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}
/* line 228, ../scss/agency.scss */
section h3.section-subheading {
  font-size: 16px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 75px;
}

@media (min-width: 768px) {
  /* line 239, ../scss/agency.scss */
  section {
    padding: 150px 0;
  }
}
/* line 246, ../scss/agency.scss */
.service-heading {
  margin: 15px 0;
  text-transform: none;
}

/* line 254, ../scss/agency.scss */
#portfolio .portfolio-item {
  margin: 0 0 15px;
  right: 0;
}
/* line 257, ../scss/agency.scss */
#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
/* line 262, ../scss/agency.scss */
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
/* line 271, ../scss/agency.scss */
#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}
/* line 274, ../scss/agency.scss */
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: #328E77;
}
/* line 283, ../scss/agency.scss */
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}
/* line 286, ../scss/agency.scss */
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}
/* line 293, ../scss/agency.scss */
#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  padding: 25px;
}
/* line 299, ../scss/agency.scss */
#portfolio .portfolio-item .portfolio-caption h4 {
  text-transform: none;
  margin: 0;
}
/* line 303, ../scss/agency.scss */
#portfolio .portfolio-item .portfolio-caption p {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
  margin: 0;
}
/* line 311, ../scss/agency.scss */
#portfolio * {
  z-index: 2;
}

@media (min-width: 767px) {
  /* line 318, ../scss/agency.scss */
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}
/* line 326, ../scss/agency.scss */
.timeline {
  list-style: none;
  padding: 0;
  position: relative;
}
/* line 330, ../scss/agency.scss */
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #f1f1f1;
  left: 40px;
  margin-left: -1.5px;
}
/* line 340, ../scss/agency.scss */
.timeline > li {
  margin-bottom: 50px;
  position: relative;
  min-height: 50px;
}
/* line 344, ../scss/agency.scss */
.timeline > li:before, .timeline > li:after {
  content: " ";
  display: table;
}
/* line 349, ../scss/agency.scss */
.timeline > li:after {
  clear: both;
}
/* line 352, ../scss/agency.scss */
.timeline > li .timeline-panel {
  width: 100%;
  float: right;
  padding: 0 20px 0 100px;
  position: relative;
  text-align: left;
}
/* line 358, ../scss/agency.scss */
.timeline > li .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
/* line 364, ../scss/agency.scss */
.timeline > li .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
/* line 371, ../scss/agency.scss */
.timeline > li .timeline-image {
  left: 0;
  margin-left: 0;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 100;
  background-color: #328E77;
  color: white;
  border-radius: 100%;
  border: 7px solid #f1f1f1;
  text-align: center;
}
/* line 383, ../scss/agency.scss */
.timeline > li .timeline-image h4 {
  font-size: 10px;
  margin-top: 12px;
  line-height: 14px;
}
/* line 389, ../scss/agency.scss */
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  text-align: left;
  padding: 0 20px 0 100px;
}
/* line 393, ../scss/agency.scss */
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
/* line 399, ../scss/agency.scss */
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
/* line 406, ../scss/agency.scss */
.timeline > li:last-child {
  margin-bottom: 0;
}
/* line 411, ../scss/agency.scss */
.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
}
/* line 414, ../scss/agency.scss */
.timeline .timeline-heading h4.subheading {
  text-transform: none;
}
/* line 420, ../scss/agency.scss */
.timeline .timeline-body > p,
.timeline .timeline-body > ul {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  /* line 429, ../scss/agency.scss */
  .timeline:before {
    left: 50%;
  }
  /* line 432, ../scss/agency.scss */
  .timeline > li {
    margin-bottom: 100px;
    min-height: 100px;
  }
  /* line 435, ../scss/agency.scss */
  .timeline > li .timeline-panel {
    width: 41%;
    float: left;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  /* line 441, ../scss/agency.scss */
  .timeline > li .timeline-image {
    width: 100px;
    height: 100px;
    left: 50%;
    margin-left: -50px;
  }
  /* line 446, ../scss/agency.scss */
  .timeline > li .timeline-image h4 {
    font-size: 13px;
    margin-top: 16px;
    line-height: 18px;
  }
  /* line 452, ../scss/agency.scss */
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    text-align: left;
    padding: 0 30px 20px 20px;
  }
}
@media (min-width: 992px) {
  /* line 463, ../scss/agency.scss */
  .timeline > li {
    min-height: 150px;
  }
  /* line 465, ../scss/agency.scss */
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  /* line 468, ../scss/agency.scss */
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  /* line 472, ../scss/agency.scss */
  .timeline > li .timeline-image h4 {
    font-size: 18px;
    margin-top: 30px;
    line-height: 26px;
  }
  /* line 478, ../scss/agency.scss */
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}
@media (min-width: 1200px) {
  /* line 487, ../scss/agency.scss */
  .timeline > li {
    min-height: 170px;
  }
  /* line 489, ../scss/agency.scss */
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  /* line 492, ../scss/agency.scss */
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  /* line 496, ../scss/agency.scss */
  .timeline > li .timeline-image h4 {
    margin-top: 40px;
  }
  /* line 500, ../scss/agency.scss */
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}
/* line 509, ../scss/agency.scss */
.team-member {
  text-align: center;
  margin-bottom: 50px;
}
/* line 512, ../scss/agency.scss */
.team-member img {
  margin: 0 auto;
  border: 7px solid white;
}
/* line 516, ../scss/agency.scss */
.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}
/* line 521, ../scss/agency.scss */
.team-member p {
  margin-top: 0;
}

/* line 529, ../scss/agency.scss */
aside.clients img {
  margin: 50px auto;
}

/* line 536, ../scss/agency.scss */
section#contact {
  background-color: #222222;
  background-image: url("../img/map-image.png");
  background-position: center;
  background-repeat: no-repeat;
}
/* line 541, ../scss/agency.scss */
section#contact .section-heading {
  color: white;
}
/* line 544, ../scss/agency.scss */
section#contact .form-group {
  margin-bottom: 25px;
}
/* line 546, ../scss/agency.scss */
section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px;
}
/* line 550, ../scss/agency.scss */
section#contact .form-group input.form-control {
  height: auto;
}
/* line 553, ../scss/agency.scss */
section#contact .form-group textarea.form-control {
  height: 236px;
}
/* line 557, ../scss/agency.scss */
section#contact .form-control:focus {
  border-color: #328E77;
  box-shadow: none;
}
/* line 561, ../scss/agency.scss */
section#contact ::-webkit-input-placeholder {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #eeeeee;
}
/* line 566, ../scss/agency.scss */
section#contact :-moz-placeholder {
  /* Firefox 18- */
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #eeeeee;
}
/* line 571, ../scss/agency.scss */
section#contact ::-moz-placeholder {
  /* Firefox 19+ */
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #eeeeee;
}
/* line 576, ../scss/agency.scss */
section#contact :-ms-input-placeholder {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #eeeeee;
}
/* line 581, ../scss/agency.scss */
section#contact .text-danger {
  color: #e74c3c;
}

/* line 588, ../scss/agency.scss */
footer {
  padding: 25px 0;
  text-align: center;
}
/* line 591, ../scss/agency.scss */
footer span.copyright {
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}
/* line 596, ../scss/agency.scss */
footer ul.quicklinks {
  margin-bottom: 0;
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}

/* line 606, ../scss/agency.scss */
ul.social-buttons {
  margin-bottom: 0;
}
/* line 609, ../scss/agency.scss */
ul.social-buttons li a {
  display: block;
  background-color: #222222;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 622, ../scss/agency.scss */
ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active {
  background-color: #328E77;
}

/* line 631, ../scss/agency.scss */
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: none;
}

/* line 639, ../scss/agency.scss */
.portfolio-modal .modal-dialog {
  margin: 0;
  height: 100%;
  width: auto;
}
/* line 644, ../scss/agency.scss */
.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
}
/* line 653, ../scss/agency.scss */
.portfolio-modal .modal-content h2 {
  margin-bottom: 15px;
  font-size: 3em;
}
/* line 657, ../scss/agency.scss */
.portfolio-modal .modal-content p {
  margin-bottom: 30px;
}
/* line 660, ../scss/agency.scss */
.portfolio-modal .modal-content p.item-intro {
  margin: 20px 0 30px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
}
/* line 666, ../scss/agency.scss */
.portfolio-modal .modal-content ul.list-inline {
  margin-bottom: 30px;
  margin-top: 0;
}
/* line 670, ../scss/agency.scss */
.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}
/* line 673, ../scss/agency.scss */
.portfolio-modal .modal-content .modal-hover {
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  width: 100%;
  height: 75%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
/* line 682, ../scss/agency.scss */
.portfolio-modal .modal-content .modal-hover:hover {
  opacity: 1;
}
/* line 685, ../scss/agency.scss */
.portfolio-modal .modal-content .modal-hover .modal-hover-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: #328E77;
}
/* line 694, ../scss/agency.scss */
.portfolio-modal .modal-content .modal-hover .modal-hover-content i {
  margin-top: -12px;
}
/* line 700, ../scss/agency.scss */
.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
/* line 708, ../scss/agency.scss */
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
/* line 711, ../scss/agency.scss */
.portfolio-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #222222;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}
/* line 722, ../scss/agency.scss */
.portfolio-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #222222;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}
/* line 735, ../scss/agency.scss */
.portfolio-modal .modal-backdrop {
  opacity: 0;
  display: none;
}

/* line 743, ../scss/agency.scss */
::-moz-selection {
  text-shadow: none;
  background: #328E77;
}

/* line 748, ../scss/agency.scss */
::selection {
  text-shadow: none;
  background: #328E77;
}

/* line 753, ../scss/agency.scss */
img::selection {
  background: transparent;
}

/* line 757, ../scss/agency.scss */
img::-moz-selection {
  background: transparent;
}

/* line 761, ../scss/agency.scss */
body {
  webkit-tap-highlight-color: #328E77;
}
