/* line 7, ../scss/style.scss */
body {
  overflow-x: hidden;
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 12, ../scss/style.scss */
.text-muted {
  color: #555555;
}

/* line 16, ../scss/style.scss */
.text-primary {
  color: #328E77;
}

/* line 20, ../scss/style.scss */
p {
  font-size: 14px;
  line-height: 1.5;
}

/* line 25, ../scss/style.scss */
p.large {
  font-size: 16px;
}

/* line 29, ../scss/style.scss */
a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
}

/* line 37, ../scss/style.scss */
a {
  color: #328E77;
}

/* line 41, ../scss/style.scss */
a:hover,
a:focus,
a:active,
a.active {
  color: #256857;
}

/* line 48, ../scss/style.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

/* line 53, ../scss/style.scss */
.img-centered {
  margin: 0 auto;
}

/* line 57, ../scss/style.scss */
.bg-light-gray {
  background-color: #eeeeee;
}

/* line 61, ../scss/style.scss */
.bg-darkest-gray {
  background-color: #222222;
}

/* line 67, ../scss/style.scss */
.btn-primary {
  color: white;
  background-color: #328E77;
  border-color: #328E77;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
/* line 10, ../scss/_mixins.scss */
.btn-primary:focus, .btn-primary.focus {
  color: white;
  background-color: #256857;
  border-color: #113028;
}
/* line 16, ../scss/_mixins.scss */
.btn-primary:hover {
  color: white;
  background-color: #256857;
  border-color: #226151;
}
/* line 21, ../scss/_mixins.scss */
.btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
  color: white;
  background-color: #256857;
  border-color: #226151;
}
/* line 28, ../scss/_mixins.scss */
.btn-primary:active:hover, .btn-primary:active:focus, .btn-primary:active.focus, .btn-primary.active:hover, .btn-primary.active:focus, .btn-primary.active.focus, .open > .btn-primary.dropdown-toggle:hover, .open > .btn-primary.dropdown-toggle:focus, .open > .btn-primary.dropdown-toggle.focus {
  color: white;
  background-color: #1b4e41;
  border-color: #113028;
}
/* line 36, ../scss/_mixins.scss */
.btn-primary:active, .btn-primary.active, .open > .btn-primary.dropdown-toggle {
  background-image: none;
}
/* line 44, ../scss/_mixins.scss */
.btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled.focus, .btn-primary[disabled]:hover, .btn-primary[disabled]:focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary:hover, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary.focus {
  background-color: #328E77;
  border-color: #328E77;
}
/* line 52, ../scss/_mixins.scss */
.btn-primary .badge {
  color: #328E77;
  background-color: white;
}

/* line 73, ../scss/style.scss */
.btn-alt {
  color: #328E77;
  background-color: white;
  border-color: #328E77;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px;
  margin-left: 5px;
}
/* line 10, ../scss/_mixins.scss */
.btn-alt:focus, .btn-alt.focus {
  color: #328E77;
  background-color: #e6e6e6;
  border-color: #113028;
}
/* line 16, ../scss/_mixins.scss */
.btn-alt:hover {
  color: #328E77;
  background-color: #e6e6e6;
  border-color: #226151;
}
/* line 21, ../scss/_mixins.scss */
.btn-alt:active, .btn-alt.active, .open > .btn-alt.dropdown-toggle {
  color: #328E77;
  background-color: #e6e6e6;
  border-color: #226151;
}
/* line 28, ../scss/_mixins.scss */
.btn-alt:active:hover, .btn-alt:active:focus, .btn-alt:active.focus, .btn-alt.active:hover, .btn-alt.active:focus, .btn-alt.active.focus, .open > .btn-alt.dropdown-toggle:hover, .open > .btn-alt.dropdown-toggle:focus, .open > .btn-alt.dropdown-toggle.focus {
  color: #328E77;
  background-color: #d4d4d4;
  border-color: #113028;
}
/* line 36, ../scss/_mixins.scss */
.btn-alt:active, .btn-alt.active, .open > .btn-alt.dropdown-toggle {
  background-image: none;
}
/* line 44, ../scss/_mixins.scss */
.btn-alt.disabled:hover, .btn-alt.disabled:focus, .btn-alt.disabled.focus, .btn-alt[disabled]:hover, .btn-alt[disabled]:focus, .btn-alt[disabled].focus, fieldset[disabled] .btn-alt:hover, fieldset[disabled] .btn-alt:focus, fieldset[disabled] .btn-alt.focus {
  background-color: white;
  border-color: #328E77;
}
/* line 52, ../scss/_mixins.scss */
.btn-alt .badge {
  color: white;
  background-color: #328E77;
}

/* line 83, ../scss/style.scss */
.btn-xl {
  color: white;
  background-color: #328E77;
  border-color: #328E77;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 3px;
  font-size: 18px;
  padding: 20px 40px;
}
/* line 10, ../scss/_mixins.scss */
.btn-xl:focus, .btn-xl.focus {
  color: white;
  background-color: #256857;
  border-color: #113028;
}
/* line 16, ../scss/_mixins.scss */
.btn-xl:hover {
  color: white;
  background-color: #256857;
  border-color: #226151;
}
/* line 21, ../scss/_mixins.scss */
.btn-xl:active, .btn-xl.active, .open > .btn-xl.dropdown-toggle {
  color: white;
  background-color: #256857;
  border-color: #226151;
}
/* line 28, ../scss/_mixins.scss */
.btn-xl:active:hover, .btn-xl:active:focus, .btn-xl:active.focus, .btn-xl.active:hover, .btn-xl.active:focus, .btn-xl.active.focus, .open > .btn-xl.dropdown-toggle:hover, .open > .btn-xl.dropdown-toggle:focus, .open > .btn-xl.dropdown-toggle.focus {
  color: white;
  background-color: #1b4e41;
  border-color: #113028;
}
/* line 36, ../scss/_mixins.scss */
.btn-xl:active, .btn-xl.active, .open > .btn-xl.dropdown-toggle {
  background-image: none;
}
/* line 44, ../scss/_mixins.scss */
.btn-xl.disabled:hover, .btn-xl.disabled:focus, .btn-xl.disabled.focus, .btn-xl[disabled]:hover, .btn-xl[disabled]:focus, .btn-xl[disabled].focus, fieldset[disabled] .btn-xl:hover, fieldset[disabled] .btn-xl:focus, fieldset[disabled] .btn-xl.focus {
  background-color: #328E77;
  border-color: #328E77;
}
/* line 52, ../scss/_mixins.scss */
.btn-xl .badge {
  color: #328E77;
  background-color: white;
}

/* line 94, ../scss/style.scss */
.navbar-custom {
  background-color: #222222;
  border-color: transparent;
}
/* line 97, ../scss/style.scss */
.navbar-custom .navbar-brand {
  color: #328E77;
  font-family: "Slabo 27px", "Helvetica Neue", Helvetica, Arial, serif;
}
/* line 100, ../scss/style.scss */
.navbar-custom .navbar-brand:hover, .navbar-custom .navbar-brand:focus, .navbar-custom .navbar-brand:active, .navbar-custom .navbar-brand.active {
  color: #256857;
}
/* line 107, ../scss/style.scss */
.navbar-custom .navbar-collapse {
  border-color: rgba(255, 255, 255, 0.98);
}
/* line 110, ../scss/style.scss */
.navbar-custom .navbar-toggle {
  background-color: #328E77;
  border-color: #328E77;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  color: white;
  font-size: 12px;
}
/* line 116, ../scss/style.scss */
.navbar-custom .navbar-toggle:hover, .navbar-custom .navbar-toggle:focus {
  background-color: #328E77;
}
/* line 123, ../scss/style.scss */
.navbar-custom .nav li a {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 1px;
  color: white;
}
/* line 128, ../scss/style.scss */
.navbar-custom .nav li a:hover, .navbar-custom .nav li a:focus {
  color: #328E77;
  outline: none;
}
/* line 136, ../scss/style.scss */
.navbar-custom .navbar-nav > .active > a {
  border-radius: 0;
  color: white;
  background-color: #328E77;
}
/* line 141, ../scss/style.scss */
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: white;
  background-color: #256857;
}

@media (min-width: 768px) {
  /* line 149, ../scss/style.scss */
  .navbar-custom {
    background-color: transparent;
    padding: 25px 0;
    -webkit-transition: padding 0.3s;
    -moz-transition: padding 0.3s;
    transition: padding 0.3s;
    border: none;
  }
  /* line 156, ../scss/style.scss */
  .navbar-custom .navbar-brand {
    font-size: 2em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  /* line 162, ../scss/style.scss */
  .navbar-custom .navbar-nav > .active > a {
    border-radius: 3px;
  }
}
@media (min-width: 768px) {
  /* line 171, ../scss/style.scss */
  .navbar-custom.affix {
    background-color: #222222;
    padding: 10px 0;
  }
  /* line 174, ../scss/style.scss */
  .navbar-custom.affix .navbar-brand {
    font-size: 1.5em;
  }
}
/* line 180, ../scss/style.scss */
header {
  background-image: url("../img/header_bg.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
}
/* line 188, ../scss/style.scss */
header .intro-text {
  padding-top: 100px;
  padding-bottom: 50px;
}
/* line 191, ../scss/style.scss */
header .intro-text .intro-lead-in {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 22px;
  line-height: 22px;
  margin-bottom: 25px;
}
/* line 198, ../scss/style.scss */
header .intro-text .intro-heading {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  line-height: 40px;
}

@media (min-width: 768px) {
  /* line 209, ../scss/style.scss */
  header .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
  }
  /* line 212, ../scss/style.scss */
  header .intro-text .intro-lead-in {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 25px;
  }
  /* line 219, ../scss/style.scss */
  header .intro-text .intro-heading {
    font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 75px;
    line-height: 75px;
    margin-bottom: 25px;
  }
}
/* line 232, ../scss/style.scss */
section {
  padding: 100px 0;
}
/* line 234, ../scss/style.scss */
section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}
/* line 239, ../scss/style.scss */
section h3.section-subheading {
  font-size: 16px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 75px;
}

@media (min-width: 768px) {
  /* line 250, ../scss/style.scss */
  section {
    padding: 150px 0;
  }
}
/* line 257, ../scss/style.scss */
.service-heading {
  margin: 15px 0;
  text-transform: none;
}

/* line 265, ../scss/style.scss */
#portfolio .portfolio-item {
  margin: 0 0 15px;
  right: 0;
}
/* line 268, ../scss/style.scss */
#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
/* line 273, ../scss/style.scss */
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
/* line 282, ../scss/style.scss */
#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}
/* line 285, ../scss/style.scss */
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: #328E77;
}
/* line 294, ../scss/style.scss */
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}
/* line 297, ../scss/style.scss */
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}
/* line 304, ../scss/style.scss */
#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  padding: 25px;
}
/* line 310, ../scss/style.scss */
#portfolio .portfolio-item .portfolio-caption h4 {
  text-transform: none;
  margin: 0;
}
/* line 314, ../scss/style.scss */
#portfolio .portfolio-item .portfolio-caption p {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
  margin: 0;
}
/* line 322, ../scss/style.scss */
#portfolio * {
  z-index: 2;
}

@media (min-width: 767px) {
  /* line 329, ../scss/style.scss */
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}
/* line 337, ../scss/style.scss */
.timeline {
  list-style: none;
  padding: 0;
  position: relative;
}
/* line 341, ../scss/style.scss */
.timeline:before {
  top: 0;
  bottom: 0;
  position: absolute;
  content: "";
  width: 2px;
  background-color: #f1f1f1;
  left: 40px;
  margin-left: -1.5px;
}
/* line 351, ../scss/style.scss */
.timeline > li {
  margin-bottom: 50px;
  position: relative;
  min-height: 50px;
}
/* line 355, ../scss/style.scss */
.timeline > li:before, .timeline > li:after {
  content: " ";
  display: table;
}
/* line 360, ../scss/style.scss */
.timeline > li:after {
  clear: both;
}
/* line 363, ../scss/style.scss */
.timeline > li .timeline-panel {
  width: 100%;
  float: right;
  padding: 0 20px 0 100px;
  position: relative;
  text-align: left;
}
/* line 369, ../scss/style.scss */
.timeline > li .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
/* line 375, ../scss/style.scss */
.timeline > li .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
/* line 382, ../scss/style.scss */
.timeline > li .timeline-image {
  left: 0;
  margin-left: 0;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 100;
  background-color: #328E77;
  color: white;
  border-radius: 100%;
  border: 7px solid #f1f1f1;
  text-align: center;
}
/* line 394, ../scss/style.scss */
.timeline > li .timeline-image h4 {
  font-size: 10px;
  margin-top: 12px;
  line-height: 14px;
}
/* line 400, ../scss/style.scss */
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  text-align: left;
  padding: 0 20px 0 100px;
}
/* line 404, ../scss/style.scss */
.timeline > li.timeline-inverted > .timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
/* line 410, ../scss/style.scss */
.timeline > li.timeline-inverted > .timeline-panel:after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -14px;
  right: auto;
}
/* line 417, ../scss/style.scss */
.timeline > li:last-child {
  margin-bottom: 0;
}
/* line 422, ../scss/style.scss */
.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
}
/* line 425, ../scss/style.scss */
.timeline .timeline-heading h4.subheading {
  text-transform: none;
}
/* line 431, ../scss/style.scss */
.timeline .timeline-body > p,
.timeline .timeline-body > ul {
  margin-bottom: 0;
}

@media (min-width: 768px) {
  /* line 440, ../scss/style.scss */
  .timeline:before {
    left: 50%;
  }
  /* line 443, ../scss/style.scss */
  .timeline > li {
    margin-bottom: 100px;
    min-height: 100px;
  }
  /* line 446, ../scss/style.scss */
  .timeline > li .timeline-panel {
    width: 41%;
    float: left;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  /* line 452, ../scss/style.scss */
  .timeline > li .timeline-image {
    width: 100px;
    height: 100px;
    left: 50%;
    margin-left: -50px;
  }
  /* line 457, ../scss/style.scss */
  .timeline > li .timeline-image h4 {
    font-size: 13px;
    margin-top: 16px;
    line-height: 18px;
  }
  /* line 463, ../scss/style.scss */
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    text-align: left;
    padding: 0 30px 20px 20px;
  }
}
@media (min-width: 992px) {
  /* line 474, ../scss/style.scss */
  .timeline > li {
    min-height: 150px;
  }
  /* line 476, ../scss/style.scss */
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  /* line 479, ../scss/style.scss */
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  /* line 483, ../scss/style.scss */
  .timeline > li .timeline-image h4 {
    font-size: 18px;
    margin-top: 30px;
    line-height: 26px;
  }
  /* line 489, ../scss/style.scss */
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}
@media (min-width: 1200px) {
  /* line 498, ../scss/style.scss */
  .timeline > li {
    min-height: 170px;
  }
  /* line 500, ../scss/style.scss */
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  /* line 503, ../scss/style.scss */
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  /* line 507, ../scss/style.scss */
  .timeline > li .timeline-image h4 {
    margin-top: 40px;
  }
  /* line 511, ../scss/style.scss */
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}
/* line 520, ../scss/style.scss */
.team-member {
  text-align: center;
  margin-bottom: 50px;
}
/* line 523, ../scss/style.scss */
.team-member img {
  margin: 0 auto;
  border: 7px solid white;
}
/* line 527, ../scss/style.scss */
.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}
/* line 532, ../scss/style.scss */
.team-member p {
  margin-top: 0;
}

/* line 540, ../scss/style.scss */
aside.clients img {
  margin: 50px auto;
}

/* line 547, ../scss/style.scss */
section#contact {
  background-color: #222222;
  background-image: url("../img/map-image.png");
  background-position: center;
  background-repeat: no-repeat;
}
/* line 552, ../scss/style.scss */
section#contact .section-heading {
  color: white;
}
/* line 555, ../scss/style.scss */
section#contact .form-group {
  margin-bottom: 25px;
}
/* line 557, ../scss/style.scss */
section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px;
}
/* line 561, ../scss/style.scss */
section#contact .form-group input.form-control {
  height: auto;
}
/* line 564, ../scss/style.scss */
section#contact .form-group textarea.form-control {
  height: 236px;
}
/* line 568, ../scss/style.scss */
section#contact .form-control:focus {
  border-color: #328E77;
  box-shadow: none;
}
/* line 572, ../scss/style.scss */
section#contact ::-webkit-input-placeholder {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #777777;
}
/* line 577, ../scss/style.scss */
section#contact :-moz-placeholder {
  /* Firefox 18- */
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #777777;
}
/* line 582, ../scss/style.scss */
section#contact ::-moz-placeholder {
  /* Firefox 19+ */
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #777777;
}
/* line 587, ../scss/style.scss */
section#contact :-ms-input-placeholder {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  color: #777777;
}
/* line 592, ../scss/style.scss */
section#contact .text-danger {
  color: #e74c3c;
}

/* line 599, ../scss/style.scss */
footer {
  padding: 25px 0;
  text-align: center;
}
/* line 602, ../scss/style.scss */
footer span.copyright {
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}
/* line 607, ../scss/style.scss */
footer ul.quicklinks {
  margin-bottom: 0;
  line-height: 40px;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-transform: none;
}

/* line 617, ../scss/style.scss */
ul.social-buttons {
  margin-bottom: 0;
}
/* line 620, ../scss/style.scss */
ul.social-buttons li a {
  display: block;
  background-color: #222222;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: white;
  outline: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 633, ../scss/style.scss */
ul.social-buttons li a:hover, ul.social-buttons li a:focus, ul.social-buttons li a:active {
  background-color: #328E77;
}

/* line 642, ../scss/style.scss */
.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
  outline: none;
}

/* line 650, ../scss/style.scss */
.portfolio-modal .modal-dialog {
  margin: 0;
  height: 100%;
  width: auto;
}
/* line 655, ../scss/style.scss */
.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
}
/* line 664, ../scss/style.scss */
.portfolio-modal .modal-content h2 {
  margin-bottom: 15px;
  font-size: 3em;
}
/* line 668, ../scss/style.scss */
.portfolio-modal .modal-content p {
  margin-bottom: 30px;
}
/* line 671, ../scss/style.scss */
.portfolio-modal .modal-content p.item-intro {
  margin: 20px 0 30px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
}
/* line 677, ../scss/style.scss */
.portfolio-modal .modal-content ul.list-inline {
  margin-bottom: 30px;
  margin-top: 0;
}
/* line 681, ../scss/style.scss */
.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}
/* line 684, ../scss/style.scss */
.portfolio-modal .modal-content .modal-hover {
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  width: 100%;
  height: 75%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
/* line 693, ../scss/style.scss */
.portfolio-modal .modal-content .modal-hover:hover {
  opacity: 1;
}
/* line 696, ../scss/style.scss */
.portfolio-modal .modal-content .modal-hover .modal-hover-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: #328E77;
}
/* line 705, ../scss/style.scss */
.portfolio-modal .modal-content .modal-hover .modal-hover-content i {
  margin-top: -12px;
}
/* line 711, ../scss/style.scss */
.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
/* line 719, ../scss/style.scss */
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
/* line 722, ../scss/style.scss */
.portfolio-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #222222;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}
/* line 733, ../scss/style.scss */
.portfolio-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #222222;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}
/* line 746, ../scss/style.scss */
.portfolio-modal .modal-backdrop {
  opacity: 0;
  display: none;
}

/* line 754, ../scss/style.scss */
::-moz-selection {
  text-shadow: none;
  background: #328E77;
}

/* line 759, ../scss/style.scss */
::selection {
  text-shadow: none;
  background: #328E77;
}

/* line 764, ../scss/style.scss */
img::selection {
  background: transparent;
}

/* line 768, ../scss/style.scss */
img::-moz-selection {
  background: transparent;
}

/* line 772, ../scss/style.scss */
body {
  webkit-tap-highlight-color: #328E77;
}

/* line 778, ../scss/style.scss */
.relish-list {
  margin-top: -50px;
  margin-bottom: 50px;
  font-size: 16px;
}
